<md-toolbar>
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="menu" ng-click="vm.toggleMenu()">
            <i class="material-icons">menu</i>
        </md-button>

        <h1>
            <span>Some application toolbar</span>
        </h1>

        <span flex></span>

        <language-selector></language-selector>
        
        <a class="md-icon-button" href="#/search/">
            <i class="material-icons">search</i>
        </a>

    </div>
</md-toolbar>

<error-msg></error-msg>

<md-sidenav md-component-id="left" class="md-sidenav-left">

    <md-list ng-controller="ModulesMenuController as menu">
        <md-list-item ng-repeat="item in menu.items | orderBy: 'order'">
            <ng-include src="item.templateUrl"></ng-include>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

</md-sidenav>
