<div layout="row">
    <md-card flex="25">
        <md-card-content>
            <md-input-container>
                <label>Organisation</label>
                <md-select ng-model="vm.selectedOrganisation" required>
                    <md-option ng-repeat="org in vm.organisations" value="{{org.uuid}}" ng-selected="$first">
                        {{org.name}}
                    </md-option>
                </md-input-container>
                
            <organisation-tree mo-org-uuid="vm.selectedOrganisation"></organisation-tree>
        </md-card-content>
    </md-card>
    <div layout="column" flex="70">
        <md-card>
            <md-card-content>
                <div ui-view="organisationDetail"></div>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                <mo-log></mo-log>
            </md-card-content>
        </md-card>
    </div>
</div>

<sidebar-tools mo-tools="vm.toolbar"></sidebar-tools>