her kommer tidsmaskinen

<div layout="row">
    <md-card flex>
        <md-card-content>
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
            <organisation-tree></organisation-tree>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content>
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
            <organisation-tree></organisation-tree>
        </md-card-content>
    </md-card>
</div>