.mo-toolbar {
  position: fixed;
  right: 0;
  top: $u * 10;

  .md-button {
    right: - $u * 8;
    transition: right .15s;
    transition-delay: .05s;
    transition-timing-function: ease-in;

    &:hover {
      right: 0;
      transition: right .25s;
      transition-timing-function: ease-out;
    }
  }
}
