<div layout="row">
    <md-card flex="25">
        <md-card-content>
            <organisation-tree></organisation-tree>
        </md-card-content>
    </md-card>
    <div layout="column" flex>
        <md-card>
            <md-card-content>
                jeg er hovedindholdet
            </md-card-content>
        </md-card>

        <md-card flex>
                <md-card-content>
                    jeg er handlingerne
                </md-card-content>
            </md-card>
    </div>
</div>

<sidebar-tools></sidebar-tools>