/*
 * Global values
 */

$u: 12px;

$background-color: #f2efed;
$primary-color: #00a65d;
$primary-color-dark: darken($primary-color, 10%);
$white: #fff;
$logo-url: '/app/assets/images/os2_logo_white.svg';

/*
 * Global styles
 */

body, md-content {
  background-color: $background-color;
}

body {
  background-image: url($logo-url);
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-size: $u * 20;
}

dt {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    opacity: 0.65;
}

dd {
    display: block;
    padding: 0 0 $u;
    margin: 0;
}


#loader {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
}

// Buttons (adjust .md-button)
.md-text-icon-button .material-icons {
  vertical-align: middle;
  margin-top: -($u*0.25);
}
